{% extends "base.html" %}

{% block head %}
<style>
.custom-restricted-width {
    display: inline-block;
}

.nav>li>a {
  position: relative;
  display: block;
  padding: 10px 15px;
}

a {
  color: #3A546B;
  text-decoration: none;
}

.panel-heading {
    cursor: pointer;
}

.glyphicon {
    padding-right: 10px;

}
</style>
{%endblock%}

{% block body %}

{% include "nav-login.html" %}

<script type="text/template" id="link-template">
  <div class="panel-heading" role="tab" id="heading-<%=url_display%>">
    <h4 class="panel-title">
      <a data-toggle="collapse" data-parent="#accordion" href="#collapse-<%=_id%>" aria-expanded="false" aria-controls="collapse-<%=_id%>">
      	<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span><%=title%>, <%=url_display%>, <%=date%> </a>
    </h4>
  </div>


  <div id="collapse-<%=_id%>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-<%=_id%>">
  <div class="panel-body">
      <a class="btn btn-default" href="/saved/<%=_id%>/<%=url%>" role="button">View Article</a>
    </div>
 </div>

</script>
<!--
  
//<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
//  <div id="collapse-<%url%>" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading-<%=url%>">
  //  <div class="panel-body">
     // /saved/<%=url%>
   // </div>
 // </div>
-->


<div class="pure-g">
  <div class="pure-u-1-12"></div>
  <div class="pure-u-5-6">
    <h1>Yay the files</h1>

    <div id="first-region">
    </div>



    <div id="second-region">
    
 

    </div>
  

  </div>
  <div class="pure-u-1-12"></div>
</div>
 
 
{%endblock%}


{%block script%}
<script src="static/js/home.js"></script>
<script >
    $(document).ready(function() {
                      console.log($("#accordion").html());
                      
                      });
    </script>
{% endblock %}
