{% extends "base.html" %}

{% block head %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Summarize</title>
  <link rel="stylesheet" href="static/stylesheets/marketing.css">
<style>
#login {
top:50px;
}

#login-b {
background-color: white;
color:#3094AB;
font-size: 120%;
}
.splash-container {
z-index:-1;
}
.alert {
background-color: rgb(223,158,105);
color: white;
}
</style>
{% endblock head %}

{% block body %}


{% include "nav-default.html" %}




<div class="splash-container">
  <div class="splash">
    <h1 class="splash-head">TLDR</h1>
    <p class="splash-subhead">
      <b><big>TL;DR</big></b> (tee-el-dee-ar) <i>ajective</i> 
      <br>1. Too Long; Didn't Read.
    </p>
    <p>
      <button class="pure-button" data-toggle="modal" data-target="#login" id="login-b">SIGN IN</button></div>
  <div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
	<div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel" align="center">Sign In</h4>
	</div>
	<div class="modal-body">

	  <form action = "/login" method="POST" class="form-horizontal">
	    <div class="form-group">
	      <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
	      <div class="col-sm-10">
		<input type="email" name="email" required class="form-control" id="inputEmail3" placeholder="Email">
	      </div>
	    </div>
	    <div class="form-group">
	      <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
	      <div class="col-sm-10">
		<input type="password" required class="form-control" name="passwd"id="inputPassword3" placeholder="Password">
	      </div>
	    </div>
	    <p align="center">Don't have an account? Register <a href="register">here</a>.</p>

	</div>
	<div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Login</button></form>
	</div>
      </div>
    </div>
  </div>
</div>

</p>
</div>
</div>
<div class="content-wrapper">
    <div class="content">
        <h2 class="content-head is-center">WHAT IS TLDR?</h2>

        <div class="pure-g">
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">

                <h3 class="content-subhead">
                    <i class="fa fa-rocket"></i>
                    Get Started Quickly
                </h3>
                <p>
                   Install the chrome extension.
                </p>
            </div>
    <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                       <i class="fa fa-mobile"></i>
                    Get Summaries
                </h3>
                <p>
                   Distill multipage articles to as many key paragraphs as you'd like.
                </p>
            </div>
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
		  <i class="fa fa-check-square-o"></i>
                 
                   Save Your Summaries
                </h3>
                <p>
                    Create an account to save a summary of an article to look over it later.
            </div>
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    <i class="fa fa-th-large"></i>
                    Get Key Terms
                </h3>
                <p>
		  Pick out key terms from your saved articles and get wiki definitions isntantly.
                </p>
            </div>
        
        </div>
    </div>

    <div class="ribbon l-box-lrg pure-g">
        <div class="l-box-lrg is-center pure-u-1 pure-u-md-1-2 pure-u-lg-2-5">
            <img class="pure-img-responsive" alt="File Icons" width="300" src="/static/img/common/file-icons.png">
        </div>
        <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-3-5">

            <h2 class="content-head content-head-ribbon">USING TDLR</h2>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor.
            </p>
        </div>
    </div>


    <div class="footer l-box is-center">
        Made by Leslie Bresnahan, Miranda Chaiken, and Anya Hagril.
    </div>

</div>







{% endblock %}
