{% extends "base.html" %}

{% block head %}
<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Summarize</title>

{%endblock%}

{% block body %}

{% include "nav-login.html" %}



        <div class="pure-g">
            <div class="pure-u-1-6"></div>
            <div class="pure-u-2-3">
                <form method = "POST" class="form-horizontal">
                    <div class="form-group">
                        <label for="inputFName" class="col-sm-2 control-label">First Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" required name = "fname" id="inputFName" value={{fname}} placeholder="First Name">
                                </div>
                    </div>
                    <div class="form-group">
                        <label for="inputLName" class="col-sm-2 control-label">Last Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" required name= "lname" id="inputLName" value={{lname}} placeholder="Last Name">
                                </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label">Old Password</label>
                        <div class="col-sm-10">
                            <input type="password" required class="form-control" name="passwd" id="passwd" placeholder="Password">
                                </div>
		    </div>
                    <div class="form-group">
                        <label for="inputPassword4" class="col-sm-2 control-label">New Password</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" name="new_passwd" id="new_passwd" placeholder="New Password">
                                </div>
                    </div>
                    <div id="conf-div" class="form-group">
                        <label for="inputPassword5" class="col-sm-2 control-label">Retype New Password</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" name="new_passwd-conf" id="new_passwd-conf" placeholder="New Password" onkeyup="validate()">
                                </div>
                    </div>
                                       <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-primary" id="settings">Update</button>
                        </div>
                    </div>
                </form>
                
                
            </div>
        </div>
        <div class="pure-u-1-6"></div>
        </div>
        <script>
            function validate(){
            var equ = $("#new_passwd").val() === $("#new_passwd-conf").val();
	    var nopass = ($("#new_passwd").val() === "" && $("#new_passwd-conf").val() === "");
                console.log($("#new_passwd").val())
                console.log(equ)
	        console.log(nopass)
	        if(nopass){
                    $("#conf-div").removeClass("has-error")
                    $("#conf-div").addClass("has-success")
                    $("#settings").prop("disabled",false);
	        }
                if (equ){
                    $("#conf-div").removeClass("has-error")
                    $("#conf-div").addClass("has-success")
                    $("#settings").prop("disabled",false);
                }
                else{
                    $("#conf-div").addClass("has-error")
                    $("#conf-div").removeClass("has-success")
                    $("#settings").prop("disabled",true);
                    
                }
                
            }
        </script>




{%endblock%}
