{% extends 'base.html' %}

{% block head %}
<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Summarize</title>
        
        {% endblock head %}

{%block body %}



<div>
    <br><br><br>
<label>Number of Significant Paragraphs</label>

<select id="count" class="pure-input-1-2" onchange= "update()">
    {% set i= 0 %}
    {% for i in range(11) %}
        <option>{{i}}</option>
    {%set i = i +1 %}
    {%endfor%}
</select>

</div>

<div id = "summary">
</div>
<div hidden id = "hidden">
    {%for para in paragraphs %}
    <p  class="para"> {{para[2]}} </p>
    {%endfor%}
</div>
{%endblock%}
    
{%block script %}
<script type="text/javascript">
 function update(){
    var e = $('#count')[0];
    $('#summary').empty()
    var c = parseInt(e.options[e.selectedIndex].value);
    console.log(c);
    console.log({{i}});
    var paras = $(".para");
    for (var x = 0; x < c && x < paras.length; x++){
        var p1=$(paras[x]).clone();
        //p1.show();
        console.log(p1)
        $(p1).removeClass("para");
        $(p1).appendTo('#summary')
        console.log(x)
    }
  
    
}
</script>

{%endblock %}